<!DOCTYPE html>
<html>
    <head>    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta property="og:type" content="website">
        <meta property="og:title" content="구본상·김보경 청첩장">
        <meta property="og:url" content="http://m.site.naver.com/0G9q5">
        <meta property="og:description" content="구본상·김보경 청첩장입니다. 2020년 12월 13일 일요일 오전11시, 청담 드레스가든">
        <title>구본상·김보경 청첩장</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body style="margin: 0px;">
        <img src="{{ url_for('static', filename='img/img2.jpg') }}" style="width: 100%;"/>
    </body>
</html>