<!DOCTYPE html>
<html>
    <head>    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta property="og:type" content="website">
        <meta property="og:title" content="구본상·김보경 모바일 청첩장">
        <meta property="og:url" content="http://m.site.naver.com/0G9q5">
        <meta property="og:description" content="2020년 12월 13일 (일) 오전11시, 청담 드레스가든">
        <title>구본상·김보경 모바일 청첩장</title>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <style>

          @font-face {
              font-family: "myfont";
              src: url("/static/font/DXmuSPL-KSCpc-EUC-H.ttf"); 
              font-weight: bold;
          }
    
            body {
              margin: 0px auto;
              max-width: 800px;
              font-family: "myfont", serif
            }

            .wrap {
              /* width: 100%; */
            }

            .wrap img {
              width: 100%;
            }


            .slider img {
                /* width: 100% !important; */
            }


            .slider-nav img {
                /* width: 100%; */
            }

            .slider-nav div {
                margin: 3px;
                /* padding: 2%; */
            }

            .prev.slick-arrow {
              border: unset;
              background: transparent;
              position: absolute;
              top: 261px;
              z-index: 1;
              width: 50px;
              left: -21px;
            }
            
            .next.slick-arrow {
              border: unset;
              background: transparent;
              position: absolute;
              top: 261px;
              z-index: 1;
              width: 50px;
              right: -21px;
            }
         
/* 
            .text-title {
              text-align: center;
            }

            .text-content {
              margin-left: 30px;
            }

            .text-sub {
              font-size: 12px;
              margin-left: 30px;
            } */

            table, tr, td {
              
              width: 100%;
            }            

            
        </style>
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    </head>
    <body >
      <div class='wrap'>
      
        <img src="{{ url_for('static', filename='img/main01.jpg') }}"/>
        
        

        <!-- <div class="text" style="margin-bottom: 110px;">
          <p class="text-title">2020년 12월 13일 일요일 오전11시</p>
          <p class="text-title">청담 드레스가든<p>
          </br>
          <p class="text-content">결혼합니다.</p>
          <p class="text-content">저희 두사람이 하나가 되는</p>
          <p class="text-content">뜻깊은 날을 맞이하게 되었습니다.</p>
          <p class="text-content">힘찬 새 출발이 될 수 있도록 격려와 축복의</p>
          <p class="text-content">박수를 보내주시면 감사하겠습니다.</p>
          </br>
          <p class="text-content">모두가 어렵고 힘든시기에 결혼 소식을</p>
          <p class="text-content">전하게 되어 죄송스러운 마음이 큽니다.</p>
          <p class="text-content">계신 자리에서 축복 해 주시면</p>
          <p class="text-content">그 마음 평생 간직하고 행복하게 잘 살겠습니다.</p>
          </br>
          <p class="text-sub">코로나 19로 식장에서도 방역 대책을 마련하여 방역 및 홀 외</p>
          <p class="text-sub">연회장의 식사 공간에 대해서도 많은 신경을 쓰고 계시니</p>
          <p class="text-sub">어려운 발걸음이라도 함께 해주신다면 더욱 감사한 마음을 갖고</p>
          <p class="text-sub">더 큰사랑을 품을 가족으로 보답 드리겠습니다.</p>
          <p class="text-sub">감사합니다.</p>

          <div style=" margin-top:40px; height:90px">
            <div style="width: 50%; float: left; background-color: #aaa; height: 90px; color: #111; text-align: center; padding-top: 50px;">
              구자역·권희남 <span>의 장남</span> 
              <p>본상</p>
            </div>
            <div style="width: 50%; float: right; background-color: #111; height: 90px; color: #ddd; text-align: center;  padding-top: 50px;">
              김종국·김정옥 <span>의 장녀</span> 
              <p>보경</p>
            </div>
          </div>

        </div> -->
        
        <table>
          <tr>
            <td rowspan="2" style="width: 85%;"><img src="{{ url_for('static', filename='img/img00.jpg') }}" alt="전화"></td>
            <td style="vertical-align: bottom; padding-bottom: 8px;">
              <a href="tel:01047262972">
              <img src="{{ url_for('static', filename='img/ic_1.jpg') }}" class='phone_icon' id="icon_tel01" style="width: 60%;"/>
            </a>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top; padding-top: 3px;">
              <a href="tel:01029158565">
              <img src="{{ url_for('static', filename='img/ic_1.jpg') }}" class="phone_icon" id="icon_tel02" style="width: 60%;"/>
              </a>
            </td>    
          </tr>
        </table>
        

        <div style="width: 100%; overflow: hidden;"> 
          <div class="slider" style="width: 90%; margin-left: 5%;">
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_1.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_2.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_3.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_4.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_5.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_6.jpg') }}" style="    padding-top: 150px;"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_7.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_8.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_9.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/1_10.jpg') }}"/>
              </div>
          </div>
  
          <div class="slider-nav" >
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_1.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_2.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_3.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_4.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_5.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_6.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_7.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_8.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_9.jpg') }}"/>
              </div>
              <div>
                <img src="{{ url_for('static', filename='img/slider/2_10.jpg') }}"/>
              </div>
          </div>
        </div>

        <!-- <div style="padding:30px 0px 20px 0px">
          <p class="text-content">오시는 길</p>
          </br>
          <p class="text-content">청담 드레스가든</p>
          <p class="text-content">서울 강남구 영동대로 707</p>
        </div> -->
        
        <table>
          <tr>
            <td style="width: 85%;"><img src="{{ url_for('static', filename='img/img01.jpg') }}"/></td>
            <td style="vertical-align: middle;padding-top: 13%;">
              <a href="tel:025121000">
              <img src="{{ url_for('static', filename='img/ic_1.jpg') }}" class='phone_icon' id="icon_tel01" style="width: 60%;"/>
              </a>
            </td>
          </tr>
        </table>
        
        <!-- <img src="{{ url_for('static', filename='img/ic_1.jpg') }}" class='phone_icon' id="icon_tel02" style="top: -86px; right:10px"/> -->
  
        <div id="daumRoughmapContainer1602990447168" class="root_daum_roughmap root_daum_roughmap_landing" style="margin: 0 auto;"></div>

        <img src="{{ url_for('static', filename='img/img02.jpg') }}"/>
        

        
        <div style="width: 100%; background-image: url('/static/img/back.jpg');">
          <img src="{{ url_for('static', filename='img/a_01.jpg') }}" style="width: 100%;"/>
          <table>
            <tr>
              <td style="width: 85%;">
                <img src="{{ url_for('static', filename='img/a_02.jpg') }}" style="width: 100%;"/>
              </td>
              <td style="width: 15%; padding: 2%;">
                <a href="javascript:copyfunc('농협 3560548262533');">
                <img src="{{ url_for('static', filename='img/copy.jpg') }}" style="width: 100%;"/>
                </a>
              </td>
            </tr>
            <tr>
              <td style="width: 85%;">
                <img src="{{ url_for('static', filename='img/a_03.jpg') }}" style="width: 100%;"/></td>
              <td style="width: 15%;  padding: 2%;">
                <a href="javascript:copyfunc('신한 110349232252');">
                  <img src="{{ url_for('static', filename='img/copy.jpg') }}" style="width: 100%;"/>
                  </a>
              </td>
            </tr>
            <tr>
              <td style="width: 85%;">
                <img src="{{ url_for('static', filename='img/a_04.jpg') }}" style="width: 100%;"/></td>
              <td style="width: 15%;  padding: 2%;">
                <a href="javascript:copyfunc('국민 806210101131');">
                  <img src="{{ url_for('static', filename='img/copy.jpg') }}" style="width: 100%;"/>
                  </a>
              </td>
            </tr>
          </table>
          <img src="{{ url_for('static', filename='img/a_05.jpg') }}" style="width: 100%;"/>
        </div>
        
        <div style="width: 60%; height: 100px; margin-left: 20%; margin-top: 60px;">
          <table>
            <tr>
              <td style="width: 50%; padding: 16%;">
                <a id="kakao-link-btn" href="javascript:sendLink()">
                  <img src="{{ url_for('static', filename='img/ic_2.jpg') }}" style="width: 100%;"/>
                </a>
              </td>
              <td style="width: 50%; padding: 16%;">
                <a id="share_btn" href="javascript:share()">
                <img src="{{ url_for('static', filename='img/ic_3.jpg') }}" style="width: 100%;"/>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="margin-bottom: 10%;">
                <img src="{{ url_for('static', filename='img/footers.jpg') }}" style="width: 100%;"/>
              </td>
            </tr>
          </table>
        </div>
        
      </div>
        
      <script type="text/javascript">
        function sendLink() {
          Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
              title: '구본상·김보경 모바일 청첩장❤',
              description: '#구본상 #김보경 #청접장 #12월13일 #청담드레스가든',
              imageUrl:
                'https://bk000-wedding.herokuapp.com/static/img/slider/2_3.jpg',
              link: {
                mobileWebUrl: 'https://bk000-wedding.herokuapp.com/',
                webUrl: 'https://bk000-wedding.herokuapp.com/',
              },
            },
            buttons: [
              {
                title: '청첩장 보기',
                link: {
                  mobileWebUrl: 'https://bk000-wedding.herokuapp.com/',
                  webUrl: 'https://bk000-wedding.herokuapp.com/',
                },
              },
            ],
          })
        }
      </script>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        

        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        <script>
          Kakao.init('6252a289057284871479f56e5959b223');
          Kakao.isInitialized();

          function share(){
            $("#share_btn").off('click').on('click', event => {
              if (navigator.share) {
                navigator.share({
                  title: '구본상·김보경 모바일 청첩장',
                  url: 'https://bk000-wedding.herokuapp.com/'
                }).then(() => {
                  console.log('Thanks for sharing!');
                })
                .catch(console.error);
              } else {
                // shareDialog.classList.add('is-open');
              }
            });
          }
          function copyfunc(text) {

              const el = document.createElement('textarea');
              el.value = text;
              el.setAttribute('readonly', '');
              el.style.position = 'absolute';
              el.style.left = '-9999px';
              document.body.appendChild(el);
              el.select();
              el.setSelectionRange(0, 99999); /*For mobile devices*/
              

              /* Copy the text inside the text field */
              document.execCommand("copy");
              alert('복사되었습니다.')
            }


            $(document).ready(function(){
                $('.slider').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: true,
                    fade: true,
                    centerMode: true,
                    asNavFor: '.slider-nav',
                    prevArrow: "<button class='prev'><img src='/static/img/prev.png' /></button>",
                    nextArrow: "<button class='next'><img src='/static/img/next.png' /></button>"
                    // adaptiveHeight: false
                });

                $('.slider-nav').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    asNavFor: '.slider',
                    dots: false,
                    // arrows: false,
                    centerMode: true,
                    focusOnSelect: true
                })

                  $("#share_btn").click();
                  new daum.roughmap.Lander({
                    "timestamp" : "1602990447168",
                    "key" : "22hsj",
                    "mapWidth" : "320",
                    "mapHeight" : "320"
                  }).render();

            });
        </script>        
    </body>
</html>